.contFix {}

.contFix p {
	font-size: 40px;
	padding-bottom: 15px;
	margin: 0;
	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.form input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	transition-duration: 0.25s;
	font-weight: 300;
	width: 70%;
}

/* ::-webkit-input-placeholder {
	color: #000;
}

:-moz-placeholder {
	color: #000;
	opacity: 1;
}

::-moz-placeholder {
	color: #000;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #000;
}

::-ms-input-placeholder {
	color: #000;
}

::placeholder {
	color: #000;
} */

.contFix ::-webkit-input-placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}

.contFix :-moz-placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}

.contFix ::-moz-placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}

.contFix :-ms-input-placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
}

.form input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.form input:focus {
	background-color: white;
	color: #53e3a6;
	width: 72%;
}

.form button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	color: #53e3a6;
	border-radius: 3px;
	cursor: pointer;
	font-size: 18px;
	transition-duration: 0.25s;
	width: 70%;
}

.form button:hover {
	background-color: #e7ebf0;
}